p {
    color:aliceblue;
    background-color: midnightblue;
    text-align: center;
}
h4 {
    color: orangered;
    text-align: center;
}
h2 {
    color: blue;
    text-align: center;
}
div {
    color: red;
    text-align: center;
}